<html>
    <head>
        <title>X-Bank</title>
        <link rel="stylesheet" href="/res/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header">
            <h1 id="title">X-Bank</h1>
            <div id="info-button"></div>
        </div>
        <form id="login-content">
            <div id="login-message">
                Create a new account or
                <br>
                click <a id="create-link" href="/">sign in</a> if you have an account.
            </div>
            <input id="user-id-input" class="login-input" placeholder="User ID"/>
            <input type="password" id="password-input" class="login-input" placeholder="New Password"/>
            <button type="submit" id="login-submit">Sign Up</button>
        </form>
        <script src="/res/common.js"></script>
        <script src="/script.js"></script>
    </body>
</html>